@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}

/* Styling part for the header section starts here**/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto 100px;
    padding: 35px;
}

header img {
    cursor: pointer;
}

header img#hamburger {
    display: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin: 0 25px;
    font-size: 14px;
    font-weight: 600;
    transition: .2s ease-in-out;
}

nav ul li a:hover {
    color: hsl(0, 94%, 66%);
}

nav ul li a#btn {
    padding: 7px 25px;
    border: 2px solid hsl(0, 94%, 66%);
    background: hsl(0, 94%, 66%);
    border-radius: 6px;
    color: #fff;
    transition: .2s ease-in-out;
}

nav ul li a#btn:hover {
    border-color:  hsl(0, 94%, 66%);
    background: none;
    color: hsl(0, 94%, 66%);
}

/* Styling part for the header section ends here**/

/* Styling part for the main intro section starts here**/

section.main-intro {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

div.content-part {
    width: 50%;
}

div.content-part > h1 {
    font-weight:900;
    font-size: 35px;
    color:hsl(229, 31%, 21%);
}

div.content-part > p {
    color: hsl(229, 8%, 60%);
    line-height: 1.7em;
    margin: 20px 0;
}

div.buttons {
    position: relative;
    top: 25px;
}

div.buttons > button {
    padding: 12px 25px;
    border: 2px solid hsl(231, 69%, 60%);
    background:  hsl(231, 69%, 60%);
    border-radius: 6px;
    cursor: pointer;
    margin-right: 25px;
    color: #fff;
    font-weight: 600;
    transition: .2s ease-in-out;
}

div.buttons > button#bt2 {
    color: hsl(229, 31%, 21%);
    background: none;
    /* border-color: #fff; */
    box-shadow: 2px 2px 4px rgb(209, 201, 201), -2px -2px 4px rgb(209, 201, 201);
}

div.buttons > button:hover {
    background: none;
    color: hsl(231, 69%, 60%);
    transition: .2s ease-in-out;
}

button#bt2:hover {
    border-color: hsl(229, 31%, 21%);;
}

div.image-part {
    width: 55%;
}

div.img img {
    width: 100%;
}

div.img > div.bg {
    z-index: -1;
    position: absolute;
    height: 50%;
    width: 38%;
    background-color: hsl(231, 69%, 60%);
    top: 300px;
    right: 0px;
    border-bottom-left-radius: 100px;
}

/* Styling part for the main intro section ends here**/

/* Styling part for the features section starts here**/
section.features-section {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 65px;
    margin-bottom: 15rem;
}

div.feature-content {
    text-align: center;
    line-height: 1.6em;
}

div.feature-content > h3 {
    font-size: 23px;
    color: hsl(229, 31%, 21%);
    margin-bottom: 20px;
}

div.feature-content > p {
    color:hsl(229, 8%, 60%);
    margin-bottom: 20px;
    width: 40%;
    margin: 0 auto 20px;
}

/* div.simple-nav > div.link {
    padding: 10px;
    background: hsl(0, 94%, 66%);
    color: #fff;
    border-radius: 6px;
} */

div.simple-nav > div.link.active {
    padding: 10px;
    background: hsl(0, 94%, 66%);
    color: #fff;
    border-radius: 6px;
}

div.simple-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    padding: 15px;
    margin: 3em auto;
}
 
div.link {
    cursor: pointer;
}

div.featured-data {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

div.image-part-feature {
    width: 55%;
}

div.image-part-feature img{
    width: 80%;
    position: relative;
    right: 0%;
}

div.image-content {
    width: 45%;
    position: relative;
    top: 80px;
    /* padding-left: 10px; */
}

div.image-content > h3 {
    font-size: 23px;
    color: hsl(229, 31%, 21%);
    margin-bottom: 20px;
}

div.image-content > p {
    color:hsl(229, 8%, 60%);
    /* margin-bottom: 20px; */
    line-height: 1.6em;
}

div.illus {
    z-index: -1;
    position: absolute;
    height: 50%;
    width: 50%;
    background-color: hsl(231, 69%, 60%);
    top: 385px;
    left: -14em;
    border-bottom-right-radius: 100px;
}


section.browser-section {
    margin-bottom: 10em;
}

div.browser-cards {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-evenly;
}

div.img-version img {
    width: 75px;
    height: 75px;
    margin-bottom: 25px;
}

div.img-version {
    text-align: center;
}

div.img-version h3 {
    color: hsl(229, 31%, 21%);
    font-weight: 900;
}

div.img-version p {
    color: hsl(229, 8%, 60%);
    font-weight: 500;
}

div.card-button {
    top: 0;
    left: 12px;
    margin-top: 46px;
}

div.card {
    padding: 25px;
    text-align: center;
    border-radius: 7px;
    box-shadow: 2px 2px 4px hsl(233, 9%, 83%), -2px -2px 4px hsl(233, 9%, 83%);
}
/* Styling part for the features section ends here**/

/* Styling part for the faq section starts here**/

section.frequently-asked-question {
    text-align: center;
}

div.faq-section {
    width: 40%;
    margin: 0 auto;
    font-weight: 400;
    color: hsl(229, 8%, 60%);
}

div.accordion {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid hsl(229, 8%, 60%);
    border-bottom: 1px solid hsl(229, 8%, 60%);
    cursor: pointer;
    color: hsl(229, 31%, 21%);
    font-weight: 600;
}

div.accordion > p:hover {
    color: hsl(0, 94%, 66%);
}

button#arrow {
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .5s;
    /* transform: rotate(180deg); */
}

button#arrow.active {
    transform: rotate(180deg);
}

div.pannel {
    padding: 15px;
    transition: .5s;
    display: none;
}

div.faq-btn {
    margin-top: 4em;
}


/* Styling part for the faq section ends here**/

/* Styling part for the contact section starts here**/

section.contact {
    margin-top: 10em;
    padding: 35px;
    background-color: hsl(231, 69%, 60%);
}

section.contact > p {
    width: 100%;
    text-align: center;
    color: #fff;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 20px;
    box-sizing: border-box;
}


section.contact > h1 {
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 20px;
    letter-spacing: 3px;
    font-weight: 600;
    box-sizing: border-box;
}

div.email {
    text-align: center;
    padding: 20px;
}

div.email > input {
    padding: 15px 30px;
    border-radius: 6px;
    outline: none;
    border: none;
    margin: 0 10px;
}

div.email > button {
    padding: 13px 28px;
    border-radius: 6px;
    color: #fff;
    background: hsl(0, 94%, 66%);
    outline: none;
    border: 2px solid transparent;
    transition: .4s;
    cursor: pointer;
    margin: 0 10px;
}

div.email > button:hover {
    background: #fff;
    color: hsl(229, 31%, 21%);
    border: 2px solid hsl(0, 94%, 66%);
}
/* Styling part for the contact section ends here**/

/* Styling part for the footer section starts here**/

footer.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    background-color: hsl(229, 31%, 21%);
}

div.log {
    display: flex;
    align-items: center;
}

div.log nav ul {
    display: flex;
}

div.log nav ul li a{
    color: #fff;
    transition: .4s;
}

div.log nav ul li a:hover {
    color: hsl(0, 94%, 66%);
}

div.social a img{
    margin: 0 20px;
    transition: .4s;
}

/* Styling part for the footer section ends here**/

@media screen and (max-width: 400px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
    }

    nav {
        display: none;
    }

    header img#hamburger {
        display: block;
    }






    /* div.nav-menu-res {
        background-color: rgb(37, 43, 70, 0.9);
        height: 100vh;
        z-index: 1;
        position: absolute;
        top: 65px;
        left: 0;
        right: 0;
        text-align: center;
    }

    div.nav-menu-res button {
        padding: 12px 25px;
        border: 2px solid #fff;
        background-color: hsl(229, 31%, 21%);
        border-radius: 6px;
        cursor: pointer;
        margin-top: 15px;
        color: #fff;
        font-weight: 600;
        transition: .2s ease-in-out;
    }

    div.nav-wrapper {
        width: 90%;
        margin: 0 auto;
    }
    div.nav-wrapper a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        display: block;
        padding: 20px;
        border-top: 1px solid rgb(92, 92, 92);
    }

    div.nav-wrapper a#last {
        border-bottom: 1px solid rgb(92, 92, 92);
    } */




    section.main-intro {
        margin-top: 3em;
        flex-direction: column-reverse;
        width: 100%;
    }

    div.image-part {
        width: 100%;
    }

    div.img > div.bg {
        z-index: -1;
        position: absolute;
        height: 26%;
        width: 73%;
        background-color: hsl(231, 69%, 60%);
        top: 207px;
        right: 0px;
        border-bottom-left-radius: 100px;
    }

    div.content-part {
        width: 100%;
        padding: 17px;
        box-sizing: border-box;
    }

    div.content-part > h1 {
        font-weight: 900;
        font-size: 35px;
        color: hsl(229, 31%, 21%);
        text-align: center;
    }

    div.content-part > p {
        text-align: center;
        color: hsl(229, 8%, 60%);
        line-height: 1.7em;
        margin: 20px 0;
    }

    div.buttons {
        position: relative;
        top: 25px;
        text-align: center;
    }

    div.buttons > button {
        margin: 0;
    }

    section.features-section {
        width: 100%;
    }

    div.feature-content > p {
        width: 100%;
        margin: 0 auto 20px;
    }

    div.simple-nav {
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
    }

    div.link {
        margin: 20px 0;
    }

    div.featured-data {
        flex-direction: column;
        text-align: center;
    }

    div.image-part-feature {
        width: 100%;
    }

    div.illus {
        z-index: -1;
        position: absolute;
        height: 20%;
        width: 84%;
        background-color: hsl(231, 69%, 60%);
        top: 33em;
        left: -2em;
        border-bottom-right-radius: 100px;
    }

    div.image-content {
        width: 100%;
    }

    div.browser-cards {
        flex-direction: column;
        width: 90%;
        gap: 20px;
    }

    div.card-button {
        top: 0;
        left: 0;
    }

    div.feature-content {
        text-align: center;
        line-height: 1.6em;
        width: 90%;
        margin: 0 auto;
    }
    
    div.faq-section {
        width: 90%;
        margin: 0 auto;
        font-weight: 400;
        text-align: left;
        color: hsl(229, 8%, 60%);
    }
}